/* src/components/FriendList/FriendList.module.css */
body {
    font-family: Arial, sans-serif;
}

.friendList {
    display: flex;
    list-style-type: none;
    margin: auto;
    text-align: center;
    width: 400px;
    padding: 0;
    gap: 8px;
}