
.transactionTable {
    margin-top: 5px;
   
    border-collapse: collapse;
    width: 400px;
   margin: auto;
}

.header {
    background-color: rgb(42, 42, 42);
    color: white;
    text-align: center;
    letter-spacing: 1px;
}

.transactionTable th,
.transactionTable td {
    padding: 8px;
    border: 1px solid black;
    text-transform: capitalize;
    text-align: center;
}

.transactionTable tr:nth-child(even) {
    background-color: rgb(211, 211, 211);
}